<div class="confirmBody">
  <div class="topContainer">
    <table class="table">
      <tbody>
        <tr *ngFor="let item of saleItems">
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="priceContainer">
    საერთო ფასი: <span>{{ fullPrice }}</span>
  </div>
  <div class="bottomContainer">
    <div class="singleBtn" *ngFor="let btn of modalContent.buttons">
      <app-button
        class="customBtn"
        [ngClass]="{
          primary: btn.type === 'accept',
          secondary: btn.type === 'decline'
        }"
        [value]="btn.text"
        width="100"
        height="35"
        (click)="doAction(btn.type)"
      ></app-button>
    </div>
  </div>
</div>
