<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">პროდუქტი</th>
          <th scope="col">ფასი</th>
          <th scope="col">რაოდენობა</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of shopContent; let i = index">
          <td>{{ item.item }}</td>
          <td>{{ item.price }} ₾</td>
          <td>
            <input
              type="number"
              value="0"
              min="0"
              [max]="getMax(item)"
              step="1"
              class="form-control"
              (input)="sellItem(i, $event)"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="bottomContainer" *ngIf="shopContent.length > 0">
      <button
        type="button"
        class="btn btn-outline-success btn-block"
        (click)="confirmSell()"
      >
        Sell
      </button>
    </div>
  </div>
</div>
