<div class="card">
  <div class="card-body">
    <div class="stat-widget-five">
      <div
        class="stat-icon dib flat-color-1"
        [ngStyle]="{ color: widget.color }"
      >
        <i [class]="widget.iconClass"></i>
      </div>
      <div class="stat-content">
        <div class="text-left dib">
          <div class="stat-text">
            {{ widget.currency }}<span class="count">{{ widgetValue }}</span>
          </div>
          <div class="stat-heading">{{ widget.title }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
