<div class="container customContainer">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header"><strong>კონსოლის</strong> დამატება</div>
        <div class="card-body card-block">
          <form
            action="#"
            method="post"
            enctype="multipart/form-data"
            class="form-horizontal"
          >
            <div class="row form-group">
              <div class="col col-md-3">
                <label for="text-input" class=" form-control-label"
                  >ნომერი</label
                >
              </div>
              <div class="col-12 col-md-9">
                <input
                  type="text"
                  id="text-input"
                  name="text-input"
                  placeholder="ნომერი"
                  class="form-control"
                  #numberInput
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-3">
                <label for="text-input" class=" form-control-label"
                  >ღირებულება</label
                >
              </div>
              <div class="col-12 col-md-9">
                <input
                  id="text-input"
                  name="text-input"
                  placeholder="ღირებულება"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row form-group">
              <div class="col col-md-3">
                <label for="text-input" class=" form-control-label"
                  >სტატუსი</label
                >
              </div>
              <div class="col-12 col-md-3">
                <input
                  type="radio"
                  id="radio1"
                  name="radios"
                  value="option1"
                  class="form-check-input"
                />Vip
              </div>
              <div class="col-12 col-md-3">
                <input
                  type="radio"
                  id="radio1"
                  name="radios"
                  value="option1"
                  class="form-check-input"
                />Standart
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-outline-success">შენახვა</button>
          <button type="submit" class="btn btn-outline-danger">წაშლა</button>
        </div>
      </div>
    </div>
  </div>
</div>
