<div class="card">
  <div class="card-body">
    <h4 class="box-title">{{ title }}</h4>
  </div>
  <div class="card-body--">
    <div class="table-stats order-table ov-h">
      <table class="table ">
        <thead>
          <tr>
            <th
              *ngFor="let column of columns"
              [ngClass]="{
                serial: column === '3',
                avatar: column === 'avatar'
              }"
            >
              {{ column }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let index = index">
            <td class="serial">{{ index + 1 }}</td>
            <td class="avatar">
              <div class="round-img">
                <a href="#"
                  ><img
                    class="rounded-circle"
                    src="../../../assets/avatar/1.jpg"
                    alt=""
                /></a>
              </div>
            </td>
            <td>#{{ item.id }}</td>
            <td>
              <span class="name">{{ item.name }}</span>
            </td>
            <td>
              <span class="product" *ngIf="item.product">{{ item.product }}</span>
              <span class="product" *ngIf="item.price">{{ item.price }}</span>
            </td>
            <td *ngIf="item.quantity>-1">
              <span class="count">{{ item.quantity }}</span>
            </td>
            <td>
              <span
                class="badge badge-complete"
                class="badge"
                [class]="item.class"
                >{{ item.status }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
