<div class="col-md-12 customContainer">
  <div class="col-md-12 user-name"><h5>ნიკოლოზ მალიძე</h5></div>

  <div class="col-md-12 user-profile">
    <div class="col-md-4 user-picture">
      <img src="../../assets/images/user/boy.svg" />
    </div>

    <div class="col-md-8 user-info">
      <div class="col-md-12 top">
        <div class="col-md-6">
          <span class="fullWidth"> usermail@gmail.com </span>
          <span class="fullWidth">599 599 599</span>
        </div>
        <div class="col-md-6">
          <app-button
            class="customBtn"
            width="60"
            height="35"
            value="Start სმენა"
          ></app-button>
        </div>
      </div>

      <div class=" col-md-12 bottom">
        <div class="row">
          <div class="col-md-12">
            <span class="subHeading"> სტატისტიკა </span>
          </div>
          <div class="col-md-3">
            <div class="daysCounter">
              <div class="counter"><span>40</span></div>
              <div class="title"><span>დღე</span></div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="dayleIncome">
              <div class="consoleIncome">
                <span> კონსოლების მაყუთი: </span>
                <span class="value"> 36.55 ₾</span>
              </div>
              <div class="shopIncome">
                <span> კონსოლების მაყუთი: </span>
                <span class="value"> 3.20 ₾</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 history" (click)="changeSize()">
            <i class="fas fa-chart-line stat"></i>
            <span>საერთო სტატისტიკა</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-md-12 noPadding statContainer" #userStat>
    <div class="col-md-12 noPadding historyTitles">
      <div class="col-md-4 noPadding"><span>თარიღი</span></div>
      <div class="col-md-2 noPadding"></div>
      <div class="col-md-3 noPadding"><span>კონსოლების შემოსავალი</span></div>
      <div class="col-md-3 noPadding"><span>მაღაზიის შემოსავალი</span></div>
    </div>
    <div class="col-md-12 noPadding historyContent">
      <div class="col-md-4 noPadding historyLeft">
        <div class="col-md-2"><i class="far fa-calendar-alt "></i></div>
        <div class="col-md-10">
          <div><span class="weekSize">პარასკევი</span></div>
          <div><span class="dataSize">12.12.2019</span></div>
        </div>
      </div>
      <div class="col-md-2 noPadding"><i class="fas fa-share"></i></div>
      <div class="col-md-3 noPadding historyCount">
        <div class="startPrice"><span>36.55</span></div>
        <div class="priceIcon"><span>ლარი</span></div>
      </div>
      <div class="col-md-3 noPadding historyCount">
        <div class="startPrice"><span>36.55</span></div>
        <div class="priceIcon"><span>ლარი</span></div>
      </div>
    </div>
  </div>
</div>
